<mat-toolbar class="top-header" color="primary">

    <span>Vardhmaan</span>
    <span class="example-spacer"></span>
    <a mat-icon-button class="example-icon favorite-icon" aria-label="facebook" target="_blank"
        href="https://www.facebook.com/Spiritualhealersonaljain">
        <mat-icon>facebook</mat-icon>
    </a>
    <a mat-icon-button class="example-icon" aria-label="whatsApp" target="_blank"
        href="https://api.whatsapp.com/send?phone=919740511336&app=facebook&entry_point=page_cta&fbclid=IwAR0WR-4SCGOiZ0tpfRsn1QG6LamJXjvFam-3vpbZPuOu2fFKv3pLb1n-0fcS">
        <mat-icon>filter_center_focus</mat-icon>
    </a>
</mat-toolbar>