<div>
    <dt>Psychic Number</dt>
    <dd>{{psychicValue}}</dd>
</div>

<div>
    <dt>Destiny Number</dt>
    <dd>{{destinyNumber}}</dd>
</div>

<div>
    <dt>Destiny Number by Name</dt>
    <dd>{{destinyNumberByName}}</dd>
</div>


<div>
    <dt>Soul Number</dt>
    <dd>{{soulNumber}}</dd>
</div>

<div>
    <dt>Kua Number</dt>
    <dd>{{kuaNumber}}</dd>
</div>


<div>
    <dt>Personality Number</dt>
    <dd>{{personalityNumber}}</dd>
</div>

<div>
    <dt>Planes of number</dt>
    <dd>{{planesOfNumber | json}}</dd>
</div>

<div>
    <dt>Lous Grid</dt>
    <div class="grid-container">
        <div *ngFor="let col of lousGridData" [ngClass]="col.className ? col.className : 'grid-item' ">
            <div class="lous-placeholder">{{col.placeholder}}</div>
            <span>{{col.value}}</span>
            <span style="color: red">{{col.specialNumber}}</span>
        </div>
    </div>